<% if best_bet %>
  <div id="spell">
    <h3 class="suggest">
      <em>
        <%= t(best_bet[:exact] ? 'suggestions.exact' : 'suggestions.inexact',
               database: link_to(t("suggestions.database.#{best_bet[:name]}"), best_bet[:url])).html_safe %>
      </em>
    </h3>
  </div>

<% elsif @response %>
  <%= render(FinditSpellcheckComponent.new(response: @response)) %>
<% end %>