<% facets.each do |facet| %>
  <div class="card facet-limit">
    <h3 class="card-header p-0 facet-field-heading">
      <%= t('blacklight.articles.' + facet.name) %>
    </h3>
    <div class="panel-collapse facet-content collapse show">
      <div class="card-body">
        <ul class="facet-values list-unstyled">
        <% facet.items.each do |item| %>
          <li><%= render_facet_item facet.name, item %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

