<div class="document" itemtype="http://schema.org/Thing">
  <div class="documentHeader row">

    <h5 class="index_title">
      <span class="document-counter">
        <%= article[:result_number] %>.
      </span>
      <%= link_to article[:title], controller: 'articles', action: 'show', db: url_encode(article[:db]), id: url_encode(article[:id]) %>
    </h5>
  </div>

  <div class="row">
    <%= render 'catalog/obtain_online', url: article[:url_fulltext_display], type: article[:format] %>
  </div>

  <%= render Blacklight::DocumentMetadataComponent.new(fields: index_presenter(article).field_presenters) %>
</div>

