<div class="articles">
<%= render partial: 'catalog/paginate_compact', object: @articles %>

<% article_counter = 1 %>
<% @articles.each do |article| %>
    <% unless article.url.nil? %>
        <%= render partial: 'articles/index_default', locals: {article: article, article_counter: article_counter} if defined?(article.url) %>
        <% article_counter += 1 %>
     <% end %>
<% end %>
<%= render partial: 'catalog/results_pagination', locals: {:@response => @articles} %>
</div>
