<div class="card">
  <div class="card-body">
    <div class="row">
      <span class="material-icons">check</span>
      <%= t('obtain.source', source: @document.first('record_source_facet')) %>
    </div><div class="row">
      <%= render ObtainOnlineComponent.new document: @document %>
    </div>
  </div>
</div>
