<footer class="footer">
  <div class="container">
    <%= link_to(image_tag("blacklight/findit.png", :alt=> "About Find It", :class=> "col-xs-12 col-sm-2", :style=> "max-width:196px;max-height:70px;margin-top:5px;"), about_path) %>
    <%= link_to(image_tag("lbcclib.png", :alt=> "LBCC Library", :class=> "col-xs-12 col-sm-2", :style=> "max-width:196px;max-height:70px;margin-top:5px;"), "http://library.linnbenton.edu") %>
    <div class="navbar-right">
      <ul class="nav navbar-right col-offset-6">
        <li>
          <%= link_to("New search", root_path, class: 'col-xs-4 new-search-link', style: "min-width:130px;") %>
        </li> <li>
          <%= link_to("About Find It", about_path, class: 'col-xs-4 about-link', style: "min-width:130px;") %>
        </li>
      </ul>
    </div>
  </div>
</footer>

