<div class="row">
<%= content_tag :span, fa_icon('stethoscope') + ' ' + t('blacklight.available'), class: 'label label-success' %>
<%= t('blacklight.access.available.hoc') + ': ' + call_number %>
</div>
