<% evergreen = EvergreenRecord.new record_id, session %>
<% item = evergreen.first_available_item_at library_id %>
<div class="row">
  <span class="badge badge-success">
    <%= white_icon library_icon %>
    <%= t('obtain.available') %>
  </span>
  <%= t('obtain.available_at', library: t(library_i18n_key), location: item.location, call_number: item.call_number) %>
</div>
