
<% @documents.each do |document| %>

  <h3 class="modal-title"><%= document_heading(document) %></h3>
  <% citations = generate_citations(document) %>
  <% citations.each do |style,citation| %>
<h4><%= style %></h4>
<%= citation.html_safe() %><br /><br />
  <% end %>

<% end %>
