
<div class="row large-search-container">
   <form id="search-box" class="form-search" method="get">
      <fieldset> 
        <input name="search_field" value="all_fields" type="hidden" />
        <div class="row">
          <input name="q" type="text" class="input-lg search-query col-xs-offset-1 col-xs-10" />
          <input name="show_articles" id="show_articles" type="hidden" value="true"/>
        </div>
        <div class="row search-option-buttons">
          <button type="submit" class="btn btn-success btn-lg col-xs-offset-1 col-xs-10 col-sm-4" onclick="document.getElementById('show_articles').value='true';" style="white-space: normal;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search all library resources</button>
          <button type="submit" class="btn btn-success btn-lg col-sm-offset-2 hidden-xs col-sm-4" onclick="document.getElementById('show_articles').value='false';" style="white-space: normal;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search books and media only</button>
        </div>
      </fieldset>
   </form>
</div>
