<% evergreen = EvergreenRecord.new record_id, session %>
<%= render partial: 'brief_item_info', locals: {library_id: 7, library_i18n_key: 'libraries.lbcclib', library_icon: 'library', record_id: record_id} if evergreen.on_shelf_at_lbcclib? %>
<%= render partial: 'brief_item_info', locals: {library_id: 9, library_i18n_key: 'libraries.lbcchoc', library_icon: 'hospital', record_id: record_id} if evergreen.on_shelf_at_lbcchoc? %>
<% if evergreen.items_only_available_elsewhere? %>
<div class="row">
  <%= t('obtain.available_at_partner_libraries') %>
</div>
<% end %>
<div class="row">
<%= link_to "#{t('obtain.place_hold')} #{ mdi_svg('open-in-new')}".html_safe,
  url_for_evergreen_hold(record_id), class: 'btn btn-primary', target: '_blank'  %>
</div>
