<h2><%= t('show.instance_heading') %></h2>
<% doc_presenter = show_presenter(document) %>
<% fields = doc_presenter.field_presenters.select { |field| field.field_config[:instance] } %>
<%= render(Blacklight::DocumentMetadataComponent.new(fields: fields)) %>
