<div class="col-md-offset-1 col-sm-offset-1 col-md-7 col-sm-8">
<h2>What am I searching?</h2>
Find It searches the following research databases:
<ul>
  <li>Alexander Street Press titles (American history in video, American song, Classical music library, Smithsonian global sound)</li>
  <li>Credo reference -- at the reference book level</li>
  <li>eBrary</li>
  <li>All EBSCO databases</li>
  <li>EBSCO ebooks (but need to set up a different delivery method -- EDX?)</li>
  <li>Evergreen catalog (LBCC non-reserve holdings only)</li>
  <li>Films on demand</li>
  <li>Gale Opposing Viewpoints in context, American history in context</li>
  <li>Gale Virtual Reference Library</li>
  <li>Several open access and public domain ebook sources: HathiTrust, DOAB, NCBI bookshelf, Wright American Fiction</li>

</ul>
It does not currently search:
<ul>
  <li>Reserves items</li>
  <li>Evergreen catalog for other consortium members</li>
  <li>Evergreen Web site records</li>
  <li>Other journal databases (but we could pay EBSCO for these data)</li>
  <li>EBSCO/Gale databases at the journal level</li>
  <li>Gale student resources in context (seemed too oriented to high school audience, but can add</li>
  <li>Credo at the topic page level -- not sure if this is possible</li>
</ul>

<h2>How does it work?</h2>
<p>Find It uses <a href="http://projectblacklight.org/">Blacklight</a> for its interface and <a href="https://lucene.apache.org/solr/">Solr</a> to store data and serve up search results.  Find It's data come from <a href="http://libcat.linnbenton.edu">our library catalog</a>, <a href="http://www.oclc.org/en-US/worldshare-collection-manager.html">WorldShare Collection Manager</a>, and a handful of other sources.

<h2>Who helped out?</h2>
<ul>
  <li>Rosalie Lingo created the site's graphics and color scheme.  Rosalie also provided invaluable guidance on Find It's layout and design.</li>
</ul>
</div>

