<h2>What am I searching?</h2>
Find It searches the following research databases:
<ul>
  <li>Alexander Street Press titles (American history in video, American song, Classical music library, Smithsonian global sound)</li>
  <li>Credo reference -- at the reference book level</li>
  <li>eBrary</li>
  <li>All EBSCO databases</li>
  <li>EBSCO ebooks (but need to set up a different delivery method -- EDX?)</li>
  <li>Evergreen catalog (LBCC non-reserve holdings only)</li>
  <li>Films on demand</li>
  <li>Gale Opposing Viewpoints in context, American history in context</li>
  <li>Gale Virtual Reference Library</li>
  <li>Several open access and public domain ebook sources: HathiTrust, DOAB, NCBI bookshelf, Wright American Fiction</li>

</ul>

