<h1>Books</h1>
<form action="http://libcat.linnbenton.edu/eg/opac/results" method="get" />
<input onblur="if (this.value == '') this.value = 'Search LBCC Library Catalog';" onfocus="if (this.value == 'Search LBCC Library Catalog') this.value = '';" value="Search LBCC Library Catalog" name="query" class="catalog-search" />
<input name="locg" value="7" type="hidden" />
<input name="detail_record_view" value="1" type="hidden" />
<input name="search" type="submit" value="Search" />
</form>

<h1>Ebooks</h1>
Ebrary

<h1>Articles</h1>
Ac Search Prem
Ac OneFile
CINAHL (for nursing)
