<h1>Books</h1>
<form action="http://libcat.linnbenton.edu/eg/opac/results" method="get" />
<input onblur="if (this.value == '') this.value = 'Search LBCC Library Catalog';" onfocus="if (this.value == 'Search LBCC Library Catalog') this.value = '';" value="Search LBCC Library Catalog" name="query" class="catalog-search" />
<input name="locg" value="7" type="hidden" />
<input name="detail_record_view" value="1" type="hidden" />
<input name="search" type="submit" value="Search" />
</form>

<h1>Ebooks</h1>
<form action="http://site.ebrary.com/lib/linnbenton/search.action" method="get" />
<input onblur="if (this.value == '') this.value = 'Search Ebrary';" onfocus="if (this.value == 'Search Ebrary') this.value = '';" value="Search Ebrary" name="p00" class="catalog-search" />
<input name="search" type="submit" value="Search" />
</form>

<h1>Articles</h1>
<form action="http://search.ebscohost.com.ezproxy.libweb.linnbenton.edu:2048/login.aspx" method="get" />
<input onblur="if (this.value == '') this.value = 'Search Academic Search Premier';" onfocus="if (this.value == 'Search Academic Search Premier') this.value = '';" value="Search Academic Search Premier" name="bquery" class="catalog-search" />
<input name="direct" value="true" type="hidden" />
<input name="db" value="aph" type="hidden" />
<input name="type" value="0" type="hidden" />
<input name="site" value="ehost-live" type="hidden" />
<input name="search" type="submit" value="Search" />
</form>




<form action="http://search.ebscohost.com.ezproxy.libweb.linnbenton.edu:2048/login.aspx" method="get" />
<input onblur="if (this.value == '') this.value = 'Search CINAHL (nursing and health)';" onfocus="if (this.value == 'Search CINAHL (nursing and health)') this.value = '';" value="Search CINAHL (nursing and health)" name="bquery" class="catalog-search" />
<input name="direct" value="true" type="hidden" />
<input name="db" value="c8h" type="hidden" />
<input name="type" value="0" type="hidden" />
<input name="site" value="ehost-live" type="hidden" />
<input name="search" type="submit" value="Search" />
</form>
