@import "materialdesignicons";

@import "variables";

@import "bootstrap";

@import "blacklight/blacklight";

.card .facet-label {
  word-wrap: normal;
}
.facet-values .facet-count {
  display: initial;
  @include float-right;
}

#home-bento-search {
  margin-top: 30px;
}
