/*
*= require 'blacklight_range_limit'
*/

@import "materialdesignicons";

@import "material_icons";

@import "variables";

@import "bootstrap";

@import "blacklight/blacklight";


.card .facet-label {
  word-wrap: normal;
}
.facet-values .facet-count {
  display: initial;
  @include float-right;
}

#home-bento-search {
  margin-top: 30px;
}

#home-searchbox, #searchOptionsButton {
  box-shadow: 2px 2px 0 #E1E0DC;
}

#home-searchbox {
  border: 1px solid black;
}

#home-search-button {
  box-shadow: 0 2px 0 #E1E0DC;
}
