@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';


#sortAndPerPage {
  border-bottom: 1px dotted #68bde1;
}

.navbar-static-top {
  border: 0px;
}

#search-navbar {
  border-top: solid 2px #bf9b7c;
  border-bottom: solid 2px #bf9b7c;
}

.form-search {
  padding: 50px 0 30px 0;
}

html {
  position: relative;
  min-height: 100%;
}

h5 {
  font-size: 18px;
}

.thumbnail-cover-image {
  max-width: 70px;
  max-height: 120px;
}

.large-cover-image {
  margin: 0 auto 10px auto;
  width: 60%;
  max-width: 160px;
  display:block;
}


body {
 margin-bottom: 110px;
 height: 100%;
 background-color: #bde2f2;
}

.search-option-buttons {
 margin-top: 10px;
}

#documents .document, .articles .document {
  margin-top: 6px;
  padding: 10px 6px 30px 6px;
  border-bottom: 1px dotted #68bde1;
}


.footer {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 min-height: 90px;
 background: #FFF0B9;
 border-top: solid 2px #bf9b7c;
}


#header-navbar.navbar-static-top {
   background-color: #fff0b9;
}

.navbar-nav li a {
   color: #000;
}

.navbar-nav li a:focus {
   color: #F2824F;
}

.btn-success {
  color: #f8f7f2;
  background-color: #76a5d3;
  border-color: #f8f7f2;
}

.btn-warning {
  color: #ee7236;
  background-color: #fff0b9;
}

.facet_limit-active .panel-heading {
  color: #76a5d3;
  background-color: #fff0b9;
}

.text-success, .facet-values li.selected {
  color: #4F67BE;
}

.facet_select {
  color: #bf9b7c;
}

.constraints-container {
  background-color: #f8f7f2;
}

.panel-default .panel-heading {
  background-color: #f8f7f2;
}

.navbar .navbar-nav li a {
  color: #23527c;
}

a.bookmarks_nav {
  color: #23527c;
}

#search-navbar.navbar-default {
  background-color: #f4eede;
}

.document-metadata dt, .document-metadata dd {
  margin-bottom: 6px;
}


h2 {
  padding: 25px 0 15px 0;
}

#main-container.container {
  //background-color: #f4eede;
  background-color: #fff;
  border: 3px solid #68bde1;
  //border-radius: 15px;
  padding: 20px 20px 90px 20px;
}

.facet_limit-active .panel-heading .panel-title a {
  color: #000;
  font-weight: 600;
}

.navbar-brand {
  min-height: 100px;
}

.nav li a {
  padding: 8px 4px;
}

